.idea
/tools/SaintCoinach.Cmd*
/tools/SaintCoinachCustom
/tools/extract_*
/data/gamedata
/data/gamejson
/data/game_documents

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
